.bmiCalculatorForm {
  border: var(--border);
  padding: 15px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bmiCalculatorForm__submitInput {
  align-self: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  width: 100px;
  height: 50px;
  background-color: var(--green);
  font-family: "Archivo Black", sans-serif;
  font-size: 16px;
}

.bmiCalculatorForm__submitInput:hover {
  cursor: pointer;
  background-color: #7fbc8c;
}

.bmiCalculatorForm__submitInput:active {
  box-shadow: none;
}
